@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroy/Gilroyextrabold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroylight.woff2") format("woff2"),
       url("../fonts/gilroy/Gilroylight.woff") format("woff");
  font-weight: light;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/OpenSans-Light.woff2") format("woff2"),
       url("../fonts/open_sans/OpenSans-Light.woff") format("woff");
  font-weight: light;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.nav-search::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}

.user-link {
  color: #000;
}

.user-navigation,
.site-navigation,
.catalog-nav {
  list-style: none;
}

.site-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  color: #000;
}

.catalog-nav-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: light;
  line-height: 36px;
  color: #000;
}

.user-link:hover {
  color: rgba(0,0,0,0.6);
}

.site-link:hover {
  color: rgba(0,0,0,0.6);
}

.catalog-nav-link:hover {
  color: rgba(0,0,0,0.6);
}

.user-link:focus {
  color: rgba(0,0,0,0.3);
}

.site-link:focus {
  color: rgba(0,0,0,0.3);
}

.catalog-nav-link:focus {
  color: rgba(0,0,0,0.3);
}

.exit-link {
  color: rgba(0,0,0,0.3);
}

.popular-list,
.services-list {
  list-style: none;
}

.product-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  color: #000;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.button:focus {
  color: rgba(0,0,0,0.3);
}

.product-more-info {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: light;
}

.product-details {
  font-size: 36px;
  line-height: 48px;
}

.product-descr {
  font-size: 13px;
  line-height: 20px;
}

.popular-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.popular-link {
  color: #000;
}

.popular-link:focus {
  color: rgba(0,0,0,0.3);
}

.services-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.info-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.contacts-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.company-item {
  opacity: 0.2;
}

.company-item:hover {
  opacity: 1;
}

.info-company-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}

.main-footer {
  background-color: #464646;
  color: #fff;
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:focus {
  opacity: 0.3;
}

.footer-section .site-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}

.footer-section .user-link {
  color: rgba(255,255,255,0.7);
}

.footer-section .user-link:hover {
  color: rgba(255,255,255,1);
}

.footer-section .user-link:focus {
  color: rgba(255,255,255,0.3);
}

.footer-section .site-link {
  color: rgba(255,255,255,1);
}

.footer-section .site-link:hover {
  color: rgba(255,255,255,0.6);
}

.footer-section .site-link:focus {
  color: rgba(255,255,255,0.3);
}

.social-link {
  color: rgba(255,255,255,0.3);
}

.social-link:hover {
  color: rgba(255,255,255,0.6)
}

.social-link:focus {
  color: rgba(255,255,255,0.1)
}

.footer-phone {
  color: #fff;
}

.academy-logo:hover {
  opacity: 0.6;
}

.academy-logo:focus {
  opacity: 0.3;
}

.modal-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.modal-group {
  list-style: none;
}

.modal input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.4);
}


/* catalog */

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.breadcrumb-link {
  font-size: 13px;
  line-height: 24px;
  color: rgba(0,0,0,0.3);
}

.breadcrumb-link:hover {
  color: rgba(0,0,0,0.6);
}

.breadcrumb-link:focus {
  color: rgba(0,0,0,0.1);
}

.filters-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.sort-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.sorting-link {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
}

.sorting-link:hover {
  color: rgba(0,0,0,0.6);
}

.sorting-link:focus {
  color: rgba(0,0,0,1);
}

.button-up,
.button-down {
  opacity: 0.2;
}

.button-up:hover,
.button-down:hover {
  opacity: 0.4;
}

.button-up:focus,
.button-down:focus {
  opacity: 1;
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.catalog-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.filter-label {
  font-size: 14px;
  color: #000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: light;
  font-size: 16px;
  line-height: 24px;
}

.add-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0,0,0,0.5);
}

.add-compare:hover {
  color: rgba(0,0,0,1);
}

.add-compare:focus {
  color: rgba(0,0,0,0.2);
}

.pagination-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.pagination-page-link {
  color: rgba(0,0,0,0.3);
}

.pagination-page-link:hover {
  color: rgba(0,0,0,0.6);
}

.pagination-page-link:focus {
  color: rgba(0,0,0,1);
}

.filter fieldset {
  border: none;
}

/*--- временно спрятанные ---*/

.visually-hidden {
  display: none;
}

.catalog-nav {
  display: none;
}

/* - Сеточные стили - */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid red;
}

.main-header {
  min-height: 150px;
  outline: 1px solid green;
}

.main-header-logo {
  display: block;
  margin-top: 22px;
  margin-left: 60px;
  margin-bottom: 27px;
  outline: 1px solid red;
  height: 36px;
}

.user-nav-wrapper {
  display: flex;
  margin-left: 60px;
  margin-bottom: 35px;
}

.nav-search {
  outline: 1px solid red;
}

.main-header .user-navigation {
  display: flex;
  position: relative;
  outline: 1px solid red;
  min-height: 16px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.main-header .login-link {
  margin-right: 238px;
}

.main-header .compare-link {
  margin-right: 65px;
}

.main-header .basket-link {
  margin-right: 61px;
}

.main-header .site-navigation {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-left: 60px;
  margin-bottom: 50px;
  outline: 1px solid red;
}

.delivery-link {
  margin-left: 322px;
}

.warranty-link {
  margin-left: 36px;
}

.contacts-link {
  margin-left: auto;
  margin-right: 57px;
}

.product-slider {
  margin-bottom: 95px;
}

.product-slide {
  display: flex;
  outline: 1px solid red;
  margin-left: 60px;
}

.product-photo {
  padding: 0;
  margin: 0;
  padding-left: 30px;
}

.product-info {
  margin-left: 125px;
  outline: 1px solid red;
}

.popular {
  height: 240px;
  margin-bottom: 156px;
  outline: 1px solid red;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  height: 240px;
  padding: 0;
  margin: 0;
}

.popular-item {
  width: 160px;
  padding-top: 178px;
}

.services {
  display: flex;
  height: 308px;
  margin-bottom: 102px;
  outline: 1px solid red;
}

.services-list {
  width: 280px;
  padding: 0;
  margin: 0;
  margin-top: 9px;
}

.services-item {
  height: 38px;
  margin-bottom: 28px;
  outline: 1px solid red;
}

.services-list-descr {
  width: 460px;
  padding: 0;
  margin: 0;
  margin-left: 120px;
  outline: 1px solid red;
  list-style: none;
}

.services-title {
  margin: 0;
}

.company-links {
  height: 100px;
  margin-bottom: 92px;
  outline: 1px solid red;
}

.company-list {
  display: flex;
  justify-content: space-between;
}

.info-contacts-wrapper {
  display: flex;
  outline: 1px solid red;
}

.info {
  height: 560px;
  outline: 1px solid red;
}

.contacts {
  height: 560px;
  outline: 1px solid red;
}

.main-footer {
  height: 325px;
  margin-top: 95px;
}

.footer-wrapper {
  display: flex;
  padding-top: 65px;
  height: 195px;
}

.footer-section {
  width: 300px;
}

.footer-section:nth-child(2) {
  width: 440px;
}

.footer-section:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: auto;
}

.footer-section .site-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 69px;
  padding-left: 66px;
}

.footer-social {
  display: flex;
  list-style: none;
}

.footer-navigation {
  margin-left: auto;
}

.footer-section .user-navigation {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-phone {
  margin-left: auto;
}

.academy-logo {
  margin-left: auto;
}


/* --- catalog ---*/

.main-header-catalog {
  margin-bottom: 85px;
}

.profile-link {
  margin-right: 21px;
}

.exit-link-catalog {
  margin-right: 85px;
}

.page-title {
  padding: 0;
  margin: 0;
  margin-left: 58px;
  margin-bottom: 18px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 45px;
  list-style: none;
}

.catalog-columns {
  display: flex;
}

.filters {
  display: flex;
  outline: 1px solid red;
}

.filters-title {
  width: 268px;
  height: 70px;
  margin: 0;
  margin-left: 58px;
  padding: 0;
  outline: 1px solid red;
}

.sort-title {
  margin: 0;
  padding: 0;
  margin-left: 75px;
  outline: 1px solid red;
}

.sorting {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 103px;
  list-style: none;
  outline: 1px solid red;
}

.filter {
  width: 491px;
  height: 690px;
  margin-left: 58px;
  outline: 1px solid red;
}

.catalog-columns {
  outline: 1px solid red;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 73px;
  margin-top: 69px;
}

.catalog-item {
  outline: 1px solid red;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  margin-left: 73px;
  list-style: none;
  outline: 1px solid red;
}

.pagination-back {
  margin-right: auto;
}

.pagination-forward {
  margin-left: auto;
}