@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroy/Gilroyextrabold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroylight.woff2") format("woff2"),
       url("../fonts/gilroy/Gilroylight.woff") format("woff");
  font-weight: light;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans/OpenSans-Light.woff2") format("woff2"),
       url("../fonts/open_sans/OpenSans-Light.woff") format("woff");
  font-weight: light;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main-header-logo:hover {
  opacity: 0.6;
}

.main-header-logo:focus {
  opacity: 0.3;
}

.nav-search::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}

.user-link {
  color: #000;
}

.user-navigation,
.site-navigation,
.catalog-nav {
  list-style: none;
}

.site-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.catalog-nav-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: light;
  line-height: 36px;
  color: #000;
}

.user-link:hover {
  color: rgba(0,0,0,0.6);
}

.site-link:hover {
  color: rgba(0,0,0,0.6);
}

.catalog-nav-link:hover {
  color: rgba(0,0,0,0.6);
}

.user-link:focus {
  color: rgba(0,0,0,0.3);
}

.site-link:focus {
  color: rgba(0,0,0,0.3);
}

.catalog-nav-link:focus {
  color: rgba(0,0,0,0.3);
}

.exit-link {
  color: rgba(0,0,0,0.3);
}

.popular-list,
.services-list {
  list-style: none;
}

.product-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  color: #000;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.button:focus {
  color: rgba(0,0,0,0.3);
}

.product-more-info {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: light;
}

.product-details {
  font-size: 36px;
  line-height: 48px;
}

.product-descr {
  font-size: 13px;
  line-height: 20px;
}

.popular-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.popular-link {
  color: #000;
}

.popular-link:focus {
  color: rgba(0,0,0,0.3);
}

.services-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.info-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.contacts-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.company-item {
  opacity: 0.2;
}

.company-item:hover {
  opacity: 1;
}

.info-company-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}

.main-footer {
  background-color: #464646;
  color: #fff;
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:focus {
  opacity: 0.3;
}

.footer-section .site-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}

.footer-section .user-link {
  color: rgba(255,255,255,0.7);
}

.footer-section .user-link:hover {
  color: rgba(255,255,255,1);
}

.footer-section .user-link:focus {
  color: rgba(255,255,255,0.3);
}

.footer-section .site-link {
  color: rgba(255,255,255,1);
}

.footer-section .site-link:hover {
  color: rgba(255,255,255,0.6);
}

.footer-section .site-link:focus {
  color: rgba(255,255,255,0.3);
}

.social-link {
  color: rgba(255,255,255,0.3);
}

.social-link:hover {
  color: rgba(255,255,255,0.6)
}

.social-link:focus {
  color: rgba(255,255,255,0.1)
}

.footer-phone {
  color: #fff;
}

.academy-logo:hover {
  opacity: 0.6;
}

.academy-logo:focus {
  opacity: 0.3;
}

.modal-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.modal-group {
  list-style: none;
}

.modal input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.4);
}


/*catalog*/

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 48px;
  color: #000;
}

.breadcrumb-link {
  font-size: 13px;
  line-height: 24px;
  color: rgba(0,0,0,0.3);
}

.breadcrumb-link:hover {
  color: rgba(0,0,0,0.6);
}

.breadcrumb-link:focus {
  color: rgba(0,0,0,0.1);
}

.filters-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.sorting-link {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
}

.sorting-link:hover {
  color: rgba(0,0,0,0.6);
}

.sorting-link:focus {
  color: rgba(0,0,0,1);
}

.button-up,
.button-down {
  opacity: 0.2;
}

.button-up:hover,
.button-down:hover {
  opacity: 0.4;
}

.button-up:focus,
.button-down:focus {
  opacity: 1;
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.catalog-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.filter-label {
  font-size: 14px;
  color: #000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: light;
  font-size: 16px;
  line-height: 24px;
}

.add-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0,0,0,0.5);
}

.add-compare:hover {
  color: rgba(0,0,0,1);
}

.add-compare:focus {
  color: rgba(0,0,0,0.2);
}

.pagination-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.pagination-page-link {
  color: rgba(0,0,0,0.3);
}

.pagination-page-link:hover {
  color: rgba(0,0,0,0.6);
}

.pagination-page-link:focus {
  color: rgba(0,0,0,1);
}

.filter fieldset {
  border: none;
}